 <style>
                    html, body {
                      height: 100%;
                    }
                    body {
                      display: flex;
                      flex-direction: column;
                    }
                    main {
                      flex: 1;  /* spinge il footer in basso */
                    }
                  </style>
        <footer class="footer">
                  <div class="content has-text-centered">
                    <p>
                      &copy; {{ current_year }} Università di Torino
                    </p>
                  </div>
                </footer>