<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Archivio fototrappole</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
        />
    </head>
    <body>
        <section class="section">
            <div class="container">

                        <h1 class="title has-text-centered">
                            Archivio fototrappole
                        </h1>
                        <h2 class="title is-4 has-text-centered">Avvistamento</h2>

                        <a class="button" href="{{ url_for('index') }}">Home</a>
                        <br><br>


{{ row.id }}<br>

<h2 class="title is-4">Code: {{ row.code }}</h2>

{{ user }} ({{ row.operator }}) {{ institution }}<br>

Id fototrappola: <b>{{ row.camtrap_id }}</b><br>

Number of wolves; <b>{{ row.wolf_number }}</b><br>

SCALP: <b>{{ row.scalp }}</b><br>

Note: {{ row.notes if row.notes is not none else ''}}


<br>
<br>
<img src="{{ data_uri }}" alt="inline image">

            </div>
        </section>
    </body>
</html>
